/* Стили для футера */
.footer {
    background: #ACCFF2;
    padding-top: 60px;
    padding-bottom: 0;
}

/* Стили для блока партнеров */
.footer-partners {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.partner-logo {
    height: 70px;
    width: 161px;
    color: black;
    padding: 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.partner-image {
    max-height: 70px;
    object-fit: contain;
    filter: brightness(0%);
}

/* Стили для блока контактов */
.footer-contacts {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    text-align: left;
}

.contact-item {
    color: #000000;
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}

.copyright-text {
    color: #000000;
    text-align: left;
    display: block;
    font-size: 12px;
}

/* Медиа-запрос для мобильных устройств */
@media (max-width: 768px) {
    .footer {
        padding-top: 10px !important;
    }

    .copyright-text-container {
        padding-left: 0 !important;
    }

    .copyright-text {
        text-align: left;
        padding: 0 !important;
    }

    .footer-partners {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: left;
        margin-bottom: 30px;
    }

    .footer-contacts {
        align-items: start;
        text-align: left;
    }

    .privacy-policy-container {
        text-align: left;
    }
}

@media (min-width: 768px) {
    .footer-contacts-container {
        display: flex;
        justify-content: center;
    }

    .copyright-text-container {
        align-items: center;
    }

    .copyright-text {
        text-align: left;
    }

    .privacy-policy-container {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
}
