/* src/index.css */
@import '~antd/dist/reset.css';

.site-layout-content {
    min-height: 280px;
    padding: 24px;
}

.text-content {
    font-size: 16px;
    line-height: 1.6;
    padding: 24px;
    border-radius: 4px;
    position: relative;
}
